@import "./_variables.scss";

.hide{
    display: none !important;
}

.rec{
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    .recovery{
        margin-top: 150px;
        background-color: white;
        width: 30%;
        margin-left: 35%;
        border: none;
        border-radius: 10px;
    }
}