@import "./../_Common/_variables.scss";

.avto{
    display: flex;
    width: 328px;
    height: 242px;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    .carAvatarWrapper{
        margin-right: 15px;
        margin-top: 15px;
        text-align: right;
        position: absolute;
        margin-left: 273px;
        border-radius: 10px;
        .carUserAvatar{
            width: 40px;
            height: 40px;            
        }
    }
    .bgCar{
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    .text{
        margin-left: 20px;
        display: block;
        position: absolute;
        margin-top: 181px;
        font-family: roboto;
        color: white;
        
        span{
            display: block;
        }
        .carName{
            margin-bottom: 5px;
            font-size: 20px;
        }
        .carPrice{
            margin-bottom: 20px;
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 600px){
    .avto{
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }
}