@font-face {
    src: url('../fonts/Roboto-Light.ttf');
    font-family: "Roboto";
}
@font-face {
    src: url('../../fonts/Roboto-Medium.ttf');
    font-family: "Roboto500";
}

$main-text-color: #1B1B1B;
$footerBG: #3F3D56;
$main-text-color-alt:  #FFFFFF;