@import "_header";
@import "_footer";

button:focus{
    outline: none;
}
html{
    margin: 0px;
}
body{
    margin: 0px;
}

h1{
    font-family: 'Roboto500';
    margin: 0px;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
    color: #1B1B1B;
}

h2{
    font-family: 'Roboto500';
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: $main-text-color;
}

.main{
    padding: 0px 20px;
    margin-top: 60px;

    &-img{
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
        margin-left: 54px;
        margin-right: 54px;

        img{
            height: 202px;
            width: 267px;
        }
    }

    &-contacts{        
        margin-top: 40px;
        background-color: #F7F9FB;
        padding-top: 40px;
        padding-bottom: 40px;
        width: 100vw;
        margin-left: -20px;
        font-family: 'Roboto';
        

        h2{
            margin: 0px;
        }

        &-content{
            &-email{
                margin-top: 20px;

                &-text{
                    font-size: 12px;
                    line-height: 147.3%;
                    text-align: center;
                    color: #4F4F4F;
                    margin-bottom: 5px;
                }

                &-email{
                    font-size: 14px;
                    line-height: 147.3%;
                    text-align: center;
                    color: black;
                    margin-top: 0px;
                }
            }

            &-phone{
                margin-top: 20px;

                &-text{
                    font-size: 12px;
                    line-height: 147.3%;
                    text-align: center;
                    color: #4F4F4F;
                    margin-bottom: 5px;
                }

                &-phone{
                    font-size: 14px;
                    line-height: 147.3%;
                    text-align: center;
                    color: black;
                    margin-top: 0px;
                }
            }
        }
    }

    &-team{
        margin-top: 40px;

        h2{
            margin: 0px;
        }
    }
}

.main-team{
    &-names{
        display: grid;
        grid-template-columns: repeat(2, 160px);
        text-align: center;
        justify-content: center;

        div{
            margin-top: 30px;
        }

        img{
            height: 80px;
            width: 80px;
        }
    }
}

.team{
    &-name{
        font-family: 'Roboto500';
        font-size: 16px;
        line-height: 147.3%;
        text-align: center;
        color: black; 
        margin-bottom: 8px;
    }

    &-profession{
        font-size: 12px;
        line-height: 147.3%;
        text-align: center;
        color: #828282;
        margin-top: 0px;
    }
}

.desc{
    display: none;
}

@media screen and (min-width: 600px){
    h1{
        font-size: 64px;
    }
    h2{
        font-size: 48px;
    }
    p{
        font-family: 'Roboto';
        margin: 10px;
        font-size: 24px;
        line-height: 147.3%;
        text-align: center;
        color: $main-text-color;
    }

    .main{
        padding-left: 237px;
        padding-right: 237px;
        margin-top: 111px;

        &-img{
            margin-bottom: 60px;

            img{
                height: 300px;
                width: 397px;
            }
        }

        &-aboutUs p{
            margin: 0px 20px;
        }

        &-contacts{
            margin-top: 80px;
            padding-bottom: 100px;
            padding-top: 80px;
            margin-left: -256px;

            &-content{
                display: flex;
                justify-content: center;

                &-email{
                    margin-top: 43px;
                    padding-right: 69px;
                    border-right: solid #C8C8CF 1px;

                    &-text{
                        font-size: 14px;
                        margin-bottom: 6px;
                    }

                    &-email{
                        font-size: 20px;
                    }
                }

                &-phone{
                    margin-top: 43px;
                    padding-left: 69px;

                    &-text{
                        font-size: 14px;
                        margin-bottom: 6px;
                    }

                    &-phone{
                        font-size: 20px;
                    }
                }
            }
        }

        &-team{
            margin-top: 80px;

            &-names{
                display: none;
            }
        }
    }

    .desc{
        display: inline;
    }

    .first{
        display: flex;
        justify-content: center;

        div{
            margin-left: 80px;

            &:nth-child(1){
                margin-left: 0px;
            }
        }
    }
    .second{
        display: flex;
        justify-content: center;

        div:nth-child(2){
            margin-left: 80px;
        }
    }

    .main-team-names{
        div{
            margin-top: 60px;
        }

        img{
            height: 180px;
            width: 180px;
        }
    }

    .team{
        &-name{
            font-size: 20px;
        }

        &-profession{
            font-size: 14px;
        }
    }
}